<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="../styles/CSS/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                Recuperar Contraseña
            </div>
        </div>
        <div class="form-container">
            <div class="form-inner">
                <form action="../php/recover_password.php" method="post" class="login">
                    <div class="field">
                        <input type="email" name="email" placeholder="Email Address" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Recuperar Contraseña">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
